
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script>
function myFunction() {
    alert("Iam from javascript"); 
  }
</script> -->

 
<mat-card class="item" (click)="openDbox()"> <!-- (dblclick)="edit.emit(task)"-->
    <h2>{{ task.Name }}<span matBadge="{{task.num}}" matBadgeOverlap="false"></span></h2>
    <hr size="1" noshade>
    <p><span class="task-green">Yrke:</span><br>{{task.Yrke}}</p>
    <p><span class="task-green">Annonstitel:</span><br>{{ task.Annonstitel }}</p>
    <!-- <p><span class="task-green">Annonstitel:</span><br><a href={{task.url}} target="_blank">{{ task.Annonstitel }}</a></p> -->
    <p><span class="task-green">Arbetsgivare:</span><br>{{task.Arbetsgivare}}</p>
    <p><span class="task-green">Sista ansökningsdatum:</span><br>{{task.Sistadatum}}</p>
    <!-- <button onclick=myFunction()>Call me</button> -->
</mat-card>


