
mat-toolbar {
    min-width: 1000px;
    margin-bottom: 20px;
}

mat-toolbar > span {
    margin-left: 10px;
}

.content-wrapper {
    max-width: 1000px;
    min-width: 1000px;
    margin: auto;
}

.container-wrapper {
    display: flex;
    justify-content: space-around;
}

.container {
    min-width: 325px;
    min-height: 500px;
    margin: 0 5px 25px 0;
    border-radius: 10px;
    background-color: #eeeeee;
    border: solid 1px #cfd8dc;
    text-align: center;
}
.container > h2 {
    padding-top: 10px;
    min-height: 25px;
}

.list {
    border: solid 1px #ccc;
    min-height: 60px;
    border-radius: 4px;
    border: solid 1px rgb(5, 5, 5);
}

.empty-label {
    font-size: 2em;
    min-height: 300px;
    padding-top: 10px;
    text-align: center;
    opacity: 0.2;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.inProgress {
    /* display: flex; */
    background-color: #fff;
    /* border: solid 1px rgb(5, 5, 5); */
}

.Backlog {
    /* display: flex; */
    /* width: 32%; */
    background-color: #fff;
    /* border: solid 1px rgb(5, 5, 5); */
}