<h2 mat-dialog-title>Individuell Matchning</h2>
<mat-dialog-content class="mat-typography">
    <mat-card class="item">
        <h3>{{ data.task.Name }}<span matBadge="{{data.task.num}}" matBadgeOverlap="false"></span></h3>
        <hr size="1" noshade>
        <span class="task-green"><strong>Yrke: </strong>{{data.task.Yrke}}<br>
        <strong>Telefon: </strong>{{data.task.phone}}<br>
        <strong>Email: </strong>{{data.task.email}}<br>
        <strong>I Program: </strong>{{data.task.iprogram}}</span>
        <hr size="1" noshade>
        <div *ngFor="let jobb of data.task.jobb" > 
            {{ jobb.id }}: {{ jobb.Annonstitel }},<br> <strong>{{jobb.Arbetsgivare}} </strong><br>Ansök senaste: {{jobb.Sistadatum}} 
        </div> 
    </mat-card>
</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Stäng</button>
</mat-dialog-actions> -->
